html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 400px;
    min-height: 400px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 2em;
    perspective: 1000px;
}

.deck .card {
    height: 62px;
    width: 62px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.deck .card.open {
    /* transform: rotateY(0); */
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.timer-panel {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* Modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #fff;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 300px;
    list-style: none;
}

.modal-content li {
  display: inline-block;
}

.modal-content .new-game {
  margin-top: 50px;
  width: 150px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: red;
  color: #fff;
}

@media screen and (min-width:570px) and (max-width:879px) {
  .deck {
      width: 460px;
      min-height: 460px;
      margin: 20px 0 2em;
  }

  .deck .card {
      height: 90px;
      width: 90px;
  }

  .score-panel {
      width: 50%;
      flex-wrap: nowrap;
  }
}

@keyframes match {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@media screen and (min-width:880px) {
  .deck {
      width: 660px;
      min-height: 680px;
  }

  .deck .card {
      height: 125px;
      width: 125px;
  }

  .score-panel {
      width: 40%;
  }
}
